.TitleBar {
  display: flex;
  justify-content: space-between;
}

.TitleBar > * {
  margin: 0;
  padding: 0;
}

.Logo {
  padding-top: 2px;
  padding-right: 2px;
}

.Left-Logo {
  margin: 7px 0 5px 7px;
}

.Right-Logo {
  margin-top: 7px;
  margin-right: 7px;
  margin-bottom: 5px;
  padding: 2px;
}

.Right-Logo,
.Left-Logo {
  border-radius: 75px;
  cursor: pointer;
  height: 31px;
}

.Right-Logo:active {
  box-shadow: 0.5px 0.5px 0.5px 0.5px black inset;
  /* background-color: gray; */
}
