.BucketListPreview {
  /* border: 1px solid white; */
  margin-top: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  height: auto;
  min-height: 15vh;
  box-shadow: 1px 0.5px 0.5px 0.78px gray;
  padding: 10px 0;
  padding-top: 5px;
  width: 100%;
}


.BucketListTitleBar {
  padding-top: 3px;
  font-size: 15px;
  /* box-shadow: 0 1px 0 0 gray; */
}

.BucketListTextPreview {
  font-size: 10px;
  width: 80%;
  margin: 0 auto;
  padding-top: 3px;
  padding-left: 7px;
  text-align: left;
}

.BucketListTextPreview.Detail {
  min-height: 80vh;
}